export(makeDir, makeGlobDir, setupProjectStructure,
       sourceAllLibs, match.call.string,
       gitRemoteURL, gitVersionNumber,
       git, git.push, git.pull, git.status, git.commit, git.add, git.addCommit)
